/*头部区域*/
header {
    background: rgba(255, 255, 255, 0.95);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff,endColorstr=#E5ffffff);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .header, .container {
    margin: 0 auto;
    width: 860px;
}

.header .logo {
    background: url("../images/logo.png") no-repeat center;
    background-size: 60%;
    height: 70px;
    width: 70px;
}

.header ul {
    float: right;
    height: 70px;
    line-height: 70px;
}

.header li {
    width: 88px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}

.header li:hover, .header li.on {
    background-color: rgba(242, 152, 105, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99F29869,endColorstr=#99F29869);
    border-radius: 3px;
}
.header li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.header li.on a, .header li:hover a {
    color: #fff;
}

.header .btn {
    display: none;
    cursor: pointer;
}

/*头部区域----end*/

.service_rgl img, .banner, #brand img, #clean img, .banner .app img, #goddess img {
    width: 100%;
}

/*banner区域*/
.banner {
    height: 670px;
    background: url("../images/in_banner.jpg") no-repeat right bottom;
}

.banner .app, .banner .erweima {
    float: left;
}

.banner .app {
    width: 38.45%;
    margin-top: 120px;
}

.banner .erweima img {
    width: 60%;
    margin-bottom: 60px;
}

.banner .erweima {
    margin-top: 170px;
    margin-left: 8%;
    width: 460px;
}

.banner .erweima a img {
    width: 36%;
    margin-right: 13%;
}

/*banner区域---end*/

.section_m {
    margin: 50px auto;
    text-align: center;
}

.section_m h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    color: #333;
    margin: 0 auto 50px;
    padding-top: 40px;
}

.service_h2_bottom:after {
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    margin: 8px auto 0;
}

.service_rgl h2 {
    padding: 0;
}

.service_rgl h2:after, #clean h2:after {
    background-color: #ffcdb4;
}

#brand h2:after, #goddess h2:after, #info h2:after {
    background-color: #c2e5ed;
}

.service_fee h2:after, #contact_us h2:after {
    background-color: #000;
}

.orange_p {
    color: #ff9a89;
}

/*.black_p{*/
/*color: #c2e5ed;*/
/*}*/

/*包月换衣　一次三件　无限换穿*/
#service_cnt {
    background: url(../images/index_business.png) no-repeat left top;
    height: 240px;
    position: relative;
}

#service_cnt .box_cnt {
    background-color: #fff;
    margin: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#service_cnt .box_cnt h2 {
    margin: 36px auto;
    color: #000;
    padding: 0;
}

#service_cnt .box_cnt dl {
    float: left;
    width: 33%;
}

#service_cnt .box_cnt dt {
    font-size: 14px;
    color: #333;
    height: 38px;
}

#service_cnt .box_cnt dt span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid rgba(236, 247, 249, 0.5);
    background-color: rgb(177, 232, 239);
    margin-right: 6px;
    box-sizing: border-box;
}

#service_cnt .box_cnt dd {
    padding: 0 20%;
}

/*包月换衣　一次三件　无限换穿---end*/

/*如何包月换衣费用-----*/
.service_fee {
    background: url("../images/mk_Price.jpg") no-repeat top center;
    height: 800px;
}

.service_fee h3 {
    color: #333;
    font-size: 16px;
    margin: 9px auto;
}

.service_fee p:nth-of-type(1), .service_fee p:nth-last-of-type(1) {
    padding-bottom: 30px;
}

/*如何包月换衣费用-----end*/

#brand h2, #goddess h2, #info h2 {
    padding-top: 0;
}

/*品牌-----*/
#brand div {
    border-bottom: 1px solid #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
}

#brand div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

/*品牌-----end*/

/*清洗护理-----*/
#clean {
    background: #fff url(../images/index_nursing_bj.jpg) no-repeat right top;
    background-size: 100% 100%;
}

#clean li {
    float: left;
    width: 32%;
    margin: 0 1% 1% 0;
    padding-bottom: 20px;
}

#clean p {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
}
#clean li  span {
    /*display: inline-block;*/
    font-family: 'icomoon' !important;
    font-size: 20px;
    margin-right: 5px;
    color: #ff9a8a;
    position: relative;
    top: 2px;
}
#clean li:nth-child(1) span:before {
    content: '\e900';
}
#clean li:nth-child(2) span:before {
    content: '\e901';
}
#clean li:nth-child(3) span:before {
    content: '\e902';
}
#clean li:nth-child(4) span:before {
    content: '\e903';
}
#clean li:nth-child(5) span:before {
    content: '\e904';
}
#clean li:nth-child(6) span:before {
    content: '\e905';
}

/*清洗护理-----end*/

/*衣二三女神-----*/
#goddess li {
    float: left;
    width: 32%;
    margin: 0 1% 1% 0;
    /*padding-bottom: 20px;*/
    height: 450px;
    border-bottom: 2px #b6e1ec solid;
    text-align: left;
}

#goddess li h3 {
    line-height: 30px;
    height: 30px;
    color: #8ec6d4;
    font-size: 17px;
    text-indent: 10px;

}

#goddess li div {
    text-indent: 10px;
    line-height: 20px;
    color: #333;
    height: 78px;
    overflow: hidden;
}

#goddess li .source {
    line-height: 30px;
    color: #b5b7b8;
    font-size: 12px;
    font-weight: normal;
    text-indent: 10px;
}

/*衣二三女神-----end*/

/*行业资讯-----*/
#info img {
    float: left;
    margin-right: 20px;
}

#info li img {
    margin-right: 10px;
}

#info p {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
}

#info i {
    color: #333;
    font-size: 12px;
}

/*行业资讯-----end*/

/*联系我们-----*/
#contact_us {
    background: url(../images/index_contact_bj.jpg) no-repeat center;
    padding-bottom: 45px;
    margin-bottom: 20px;
}

#contact_us .leftContent {
    float: left;
    background: #fff;
    width: 45%;
}

#contact_us .rightContent {
    float: right;
    width: 45%;
}

#contact_us .leftContent img {
    width: 90%;
    margin: 4% 0;
}

#contact_us .leftContent p, #contact_us .leftContent h3 {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

#contact_us .leftContent h3:after {
    display: block;
    background: #000;
    width: 130px;
    height: 2px;
    content: '';
    margin: 3px 0px 10px 1px;
}

#contact_us .leftContent p {
    text-indent: 25px;
    margin-bottom: 11px;
    line-height: 19px;
    color: #333;
}

#contact_us .rightContent {
    line-height: 24px;
}

#contact_us .rightContent li {
    margin-bottom: 8px;
    /*line-height: 24px;*/
    background: #fff;
    padding: 13px 0 14px 12px;
    color: #333;
    text-align: left;
}

#contact_us .rightContent li span {
    color: #ff9a89;
}

footer{
    text-align: center;
    margin: 0 auto 20px;
    line-height: 24px;
}

/*联系我们-----end*/

@media (max-width: 870px) {

    header .header, .header ul, .header li, #service_cnt .box_cnt dl, #info .info_b img {
        width: 100%;
    }

    .container {
        width: 96%;
    }

    /*头部区域*/
    .header .logo {
        background: url("../images/logo2.png") no-repeat center;
        background-size: 75%;
        height: 39px;
        width: 128px;
    }

    .header ul {
        height: auto;
        display: none;
    }

    .header li {
        display: block;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #efefef;
    }

    .header .btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 23px;
        height: 23px;
    }

    .header .open {
        border-top: 2px solid rgb(242, 152, 105);
    }

    .header .open:before, .header .open:after {
        content: '';
        background-color: rgb(242, 152, 105);
        width: 23px;
        height: 2px;
        margin-top: 6px;
        display: block;
    }

    .header .close {
        border: 0;
    }

    .header .close:before {
        content: '';
        background-color: #000;
        width: 23px;
        height: 2px;
        display: block;
        transform: rotate(45deg);
        margin-top: 11px;
        /*transition: all .3s ease;*/
    }

    .header .close:after {
        content: '';
        background-color: #000;
        width: 2px;
        height: 23px;
        display: block;
        -webkit-transform: rotate(45deg);
        left: 10px;
        position: absolute;
        top: 1px;
        /*transition: all .3s ease;*/
    }

    /*头部区域----end*/
    /*banner区域*/
    .banner {
        background: url("../images/in_banner.jpg") no-repeat right top;
        height: auto;
    }

    .banner:after {
        content: '';
        display: block;
        height: 0%;
        line-height: 0;
        clear: both;
    }

    .banner .app {
        margin-top: 15%;
        margin-left: 4%;
    }

    .banner .erweima {
        margin-top: 22%;
        margin-left: 6%;
        width: 50%;
    }

    .banner .erweima img {
        margin-bottom: 10%;
    }

    /*banner区域---end*/
    .section_m {
        margin: 3% auto 1%;
    }

    .section_m h2 {
        font-size: 18px;
        margin-bottom: 6%;
        padding-top: 22px;
    }

    .service_h2_bottom:after {
        width: 70px;
        height: 2px;
        margin-top: 0;
    }

    /*包月换衣　一次三件　无限换穿*/
    #service_cnt {
        background-image: none;
        border: 10px solid #ffe6d9;
        position: static;
        height: auto;
        box-sizing: border-box;
    }

    #service_cnt .box_cnt {
        position: static;
    }

    #service_cnt .box_cnt h2 {
        display: none;
    }

    #service_cnt .box_cnt dl {
        float: none;
        margin: 4% auto;
    }

    #service_cnt .box_cnt dt {
        height: 24px;
    }

    /*包月换衣　一次三件　无限换穿-----end*/
    /*如何包月换衣费用-----end*/
    .service_fee {
        background-color: #d2ecf2;
        background-image: none;
        height: auto;
    }

    .service_fee p:nth-of-type(1), .service_fee p:nth-last-of-type(1) {
        padding-bottom: 18px;
    }

    /*如何包月换衣费用-----end*/
    /*品牌-----*/
    #brand div {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    /*品牌-----end*/
    /*清洗护理----*/
    #clean {
        background-image: none;
        background-color: #ffe6d9;;
        padding-bottom: 10px;
    }

    #clean li {
        width: 48%;
        margin: 0 2% 2% 0;
    }

    /*清洗护理----end*/
    /*衣二三女神-----*/
    #goddess li {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        padding-bottom: 10px;
    }

    #goddess li div {
        height: 45px;
    }

    /*衣二三女神-----end*/
    /*行业资讯-----*/
    #info ul {
        margin-top: 10px;
    }

    #info li {
        height: 98px;
    }

    #info li:last-child {
        height: 84px;
    }

    #info p {
        max-height: 45px;
        overflow: hidden;
    }

    #info img {
        float: none;
        margin-right: 0;
    }

    #info li img {
        float: left;
    }

    /*行业资讯-----end*/
    /*联系我们-----*/
    #contact_us{
        background-image: none;
        background-color: #ffe6d9;
        margin-bottom: 4%;
    }
    #contact_us .leftContent, #contact_us .rightContent {
        width: 100%;
    }
    #contact_us .rightContent{
        background-color: #fff;
        margin-top: 10px;
    }
    #contact_us .rightContent li{
        border-bottom: 1px #d2d2d2 solid;
        margin-left: 25px;
        padding: 8px 0 8px 12px;
        background: none;
    }
    #contact_us .rightContent li:last-child{
        border: 0;
    }
    /*联系我们-----end*/
}